.section {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.section-left,
.section-right {
  width: 50%;
  height: 100%;
  background-color: black;
  color: #00ff66;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #00ff66;
}

.section-right {
  border-left: 1px solid #00ff66;
}

.section-left__caption {
  position: absolute;
  top: 0.5%;
  color: white;
  padding: 0.5rem;
  color: #00ff66;
}
.section-left__img {
  height: 90%;
  width: 90%;
  object-fit: contain;
}

.section-right__top,
.section-right__bottom {
  padding: 2rem 2rem 3rem 2rem;
}

.section-right__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-right__top__tetromino {
  width: 5rem;
}

.section-right__bottom__subtitle {
  font-style: italic;
  text-align: end;
}

.section-right__bottom__text {
  text-align: justify;
  line-height: 1.4rem;
}

/*responsive*/
@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  .section-left,
  .section-right {
    width: 100%;
  }

  .section-left {
    height: 40%;
  }
  .section-right {
    height: 60%;
  }

  .section-left {
    border-bottom: 1px solid #00ff66;
    border-right: none;
  }

  .section-left__caption {
    top: 36%;
    font-size: 0.5rem;
    width: 100%;
    padding: 0.2rem;
  }

  .section-left__img {
    height: 18rem;
  }

  .section-right {
    border-top: 1px solid #00ff66;
    border-left: none;
  }

  .section-right__top {
    padding: 1rem 2rem 0rem 2rem;
  }
  .section-right__bottom {
    padding: 0rem 2rem 4rem 2rem;
  }

  .section-right__top {
    height: 15%;
  }

  .section-right__bottom {
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  h1 {
    margin: 0;
    font-size: 1rem;
  }

  .section-right__top__tetromino {
    margin-top: 0.5rem;
    width: 3.5rem;
  }

  .section-right__bottom__subtitle {
    font-size: 0.7rem;
    margin: 0;
  }

  .section-right__bottom__text {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
}
