/*tetris game style here: */

.game {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: #00ff66;
}

.game h1 {
  margin: 10px;
  font-size: calc(1vmin + 2vmax);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.game_start {
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.game-score-difficulty {
  height: 3rem;
}

.game_start button {
  height: 1.5rem;
  width: 7rem;
  margin: 5px 10px;
  background-color: black;
  color: #00ff66;
  border: 1px solid #00ff66;
  transition: all 0.5s ease-in-out;
}

.mobile-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.mobile-controls button {
  height: 3rem;
  width: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin: 5px 5px;
  font-size: 0.8rem;
  background-color: black;
  color: #00ff66;
  border: 1px solid #00ff66;
  transition: all 0.5s ease-in-out;
}

.game_start button:hover,
.mobile-controls button:hover {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background-color: #00ff66;
  color: black;
}

.mobile-controls-up-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container h1 {
  text-align: right;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: calc(0.05vmin + 0.25vmax);
  margin-bottom: 5%;
}

.grid {
  width: 240px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-main);
  background-color: black;
  margin: 0 10px;
  border: 1px solid #00ff66;
}

.grid div {
  height: 24px;
  width: 24px;
  /*     background-color: red;  */
}

.tetromino {
  background-color: blue; /*TEMPORARY*/
}

.mini-grid {
  margin-top: 10px;
  width: 96px;
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 1px solid #00ff66;
}

.mini-grid div {
  height: 24px;
  width: 24px;
}

/*responsive*/
@media screen and (max-width: 480px) {
  h3 {
    font-size: 0.6rem;
  }

  h5 {
    font-size: 0.5rem;
  }

  .game_start {
    height: 3rem;
  }

  .game_start button {
    height: 1.5rem;
    width: 5rem;
    margin: 2px 5px;
    font-size: 0.8rem;
  }

  .mobile-controls {
    margin: 0;
    padding: 0;
  }
  .mobile-controls button {
    height: 2rem;
    width: 5rem;
    margin: 4px 10px;
    font-size: 0.8rem;
  }

  .mobile-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
