* {
  background-color: black;
}

.App {
  text-align: center;
  white-space: pre-line;
}

a {
  color: #02b84b;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  transition: all 0.5s ease;
  filter: brightness(70%);
}

/*swiper */
.swiper-pagination {
  opacity: 0.5;
  position: absolute;
  top: 95%;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #00ff66;
  opacity: 1;
}

/* target all bullets */
span.swiper-pagination-bullet {
  background-color: red;
  opacity: 1;
}
